*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #363636;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
}

/*=== Header ===*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 104px;
  border-bottom: 1px solid #d4d4d4;
}

.header-logo {
  padding: 0 34px;
}

.line {
  height: 100%;
  width: 1px;
  background-color: #d4d4d4;
}

.search-input {
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center left;
  border: none;
  outline: none;
  padding-left: 38px;
  margin-left: 34px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
}

.navigation {
  margin-right: 44px;
  margin-left: auto;
}

.navigation-link {
  margin-right: 18px;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
  transition: color linear 0.2s;
}

.navigation-link:last-child {
  margin-right: 0;
}

.navigation-link:hover {
  color: #5671f6;
}

.button-group {
  height: 100%;
}

.button {
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}

.sign-up {
  padding: 0 34px;
  margin-right: -5px;
  border-left: 1px solid #d4d4d4;
  background-color: #fff;
  color: #5671f6;
  transition: color ease 0.2s;
}

.sign-up:hover {
  color: #363636;
}

.login {
  padding: 0 50px;
  background-color: #5671f6;
  color: #fff;
  transition: background-color ease 0.2s;
}

.login:hover {
  background-color: #5671f6f6;
}

.mobile-buttons {
  display: none;
  /* none | flex */
  align-items: center;
}

.m-search-button {
  padding: 5px;
  margin-right: 25px;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.m-menu-button {
  padding: 5px;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.m-menu-line {
  display: block;
  width: 16px;
  height: 1px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 40px;
  background-color: #000;
}

/*=== Film ===*/

.film {
  padding: 80px 0;
  border-bottom: 1px solid #d4d4d4;
}

.film-wrapper {
  display: flex;
}

.film-trailer {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.film-poster {
  width: 358px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.trailer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  background-color: #fff;
  color: #363636;
  border: 1px solid #d4d4d4;
  border-radius: 0 0 5px 5px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: color ease 0.2s;
}

.trailer-button:hover:focus:active {
  outline: none;
  color: #5671f6;
}

.trailer-button:visited {
  color: #363636;
}

.trailer-button-icon {
  margin-right: 14px;
}

.film-title {
  margin-bottom: 16px;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
}

.film-subtitle {
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
}

.film-description {
  max-width: 514px;
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000;
}

.film-info {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 19px;
}

.film-info:last-child {
  margin-bottom: 0;
}

.film-info-key {
  display: inline-block;
  width: 100px;
  vertical-align: top;
  font-weight: bold;
}

.film-info-value {
  font-weight: normal;
}

.film-about {
  display: flex;
  margin-bottom: 50px;
}

.left-side {
  margin-right: 40px;
}

.film-rating {
  display: flex;
  align-items: center;
}

.rating-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-right: 28px;

  border: 1px solid #5671f6;
  border-radius: 10px;

  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #5671f6;
}

.rating-title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
}

.rating-text-key {
  margin-bottom: 7px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.rating-text-value {
  font-weight: bold;
}

/*=== Cast ===*/

.cast {
  padding-top: 70px;
  padding-bottom: 100px;
}

.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.section-title {
  margin-right: 30px;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #a5a5a5;
}

.section-title.active {
  font-weight: 900;
  color: #363636;
}

.tabs-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  margin-bottom: 35px;
}

.card-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 50%;
}

.card-text {
  font-size: 16px;
  line-height: 19px;
}

.card-text .name {
  margin-bottom: 6px;
  font-weight: bold;
  color: #5671f6;
}

.card-text .en-name {
  font-weight: normal;
  color: #a5a5a5;
}

/*=== News ===*/

.news {
  padding-top: 70px;
  padding-bottom: 100px;
  background-color: #f3f3f3;
}

.section-news-title {
  margin-right: 0;
  margin-bottom: 65px;
  font-weight: 900;
  color: #000;
}

.news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-card {
  flex-basis: 23%;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}

.news-date {
  display: inline-block;
  margin-bottom: 14px;
  font-weight: normal;
}

.news-title {
  font-weight: 900;
}

/*=== Media ===*/

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .header {
    height: 90px;
  }

  .header-logo {
    padding: 0 20px;
  }

  .navigation {
    margin-right: 20px;
  }

  .search-input {
    margin-left: 20px;
  }

  .navigation-link {
    margin-right: 10px;
    font-size: 16px;
  }

  .button {
    font-size: 16px;
  }

  .sign-up {
    padding-left: 20px;
    padding-right: 20px;
  }

  .login {
    padding-left: 45px;
    padding-right: 45px;
  }

  .card-image {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 760px;
  }

  .navigation {
    display: none;
  }

  .search-input {
    margin-right: auto;
  }

  .line {
    margin: 0;
  }

  .film {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .film-trailer {
    margin-right: 45px;
  }

  .film-title {
    font-size: 24px;
    line-height: 1.4;
  }

  .film-subtitle {
    margin-bottom: 30px;
  }

  .film-description {
    margin-bottom: 40px;
  }

  .film-about {
    margin-bottom: 40px;
  }

  .film-info-key {
    display: block;
    width: 100%;
    margin-bottom: 8px;
  }

  .cast {
    padding-top: 50px;
    padding-bottom: 75px;
  }

  .tabs {
    margin-bottom: 50px;
  }

  .card {
    flex-basis: 50%;
    margin-bottom: 25px;
  }

  .card-image {
    width: 100px;
    height: 100px;
  }

  .news {
    padding-top: 50px;
    padding-bottom: 75px;
  }

  .section-news-title {
    margin-bottom: 50px;
  }

  .news-card {
    flex-basis: 48%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .header {
    height: 75px;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .header-logo {
    padding: 0;
  }

  .line {
    display: none;
  }

  .search-input {
    display: none;
  }

  .button-group {
    display: none;
  }

  .mobile-buttons {
    display: flex;
  }

  .film {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .film-wrapper {
    flex-wrap: wrap;
  }

  .film-text {
    order: -1;
    margin-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 85%;
    min-width: 320px;
  }

  .film {
    padding-top: 30px;
  }

  .film-trailer {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .film-poster {
    width: 100%;
  }

  .film-title {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 23px;
  }

  .film-subtitle {
    margin-bottom: 26px;
    font-size: 14px;
    line-height: 16px;
  }

  .film-text {
    order: 0;
    margin-bottom: 0;
  }

  .film-about {
    display: flex;
    flex-direction: column;
  }

  .film-info-key {
    display: inline-block;
    width: 120px;
    margin-bottom: 0;
  }

  .left-side {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .cast {
    padding-top: 75px;
    padding-bottom: 55px;
  }

  .tabs {
    margin-bottom: 45px;
  }

  .card {
    flex-basis: 100%;
  }

  .card:last-child {
    margin-bottom: 0;
  }

  .card-image {
    width: 60px;
    height: 60px;
  }

  .news {
    padding-bottom: 60px;
  }

  .section-news-title {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 23px;
  }

  .news-card {
    flex-basis: 81.25%;
  }
}

@media (max-width: 320px) {
  .container {
    min-width: 300px;
  }
}